In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel(r"D:\Pharma_Inventory_Optimization_Project\03_Model\Safety_Stock_Model.xlsx")

In [3]:
df.head()

   Item  Average_Demand  StdDev_Demand  Lead_Time
0     1       21.981599       8.468922          7
1     2       58.574151      20.093015          7
2     3       36.642223      13.179441          7
3     4       22.010241       8.403898          7
4     5       18.358708       7.265167          7

In [4]:
df.columns

Index(['Item', 'Average_Demand', 'StdDev_Demand', 'Lead_Time'], dtype='str')

In [5]:
df["Service_Level"] = 0.95
df["Z_value"] = 1.65

In [6]:
df.head()

   Item  Average_Demand  StdDev_Demand  Lead_Time  Service_Level  Z_value
0     1       21.981599       8.468922          7           0.95     1.65
1     2       58.574151      20.093015          7           0.95     1.65
2     3       36.642223      13.179441          7           0.95     1.65
3     4       22.010241       8.403898          7           0.95     1.65
4     5       18.358708       7.265167          7           0.95     1.65

In [9]:
df["Average_Demand"] = round(df["Average_Demand"],2)
df["StdDev_Demand"] = round(df["StdDev_Demand"],2)

In [10]:
df.head()

   Item  Average_Demand  StdDev_Demand  Lead_Time  Service_Level  Z_value
0     1           21.98           8.47          7           0.95     1.65
1     2           58.57          20.09          7           0.95     1.65
2     3           36.64          13.18          7           0.95     1.65
3     4           22.01           8.40          7           0.95     1.65
4     5           18.36           7.27          7           0.95     1.65

In [ ]:
df["Safety_Stock"] = round(df["StdDev_Demand"] * df["Z_value"] * np.sqrt(df["Lead_Time"]),0)
#square root of lead time
# I did round of till 0 cause the safety stock value can never be in points

In [23]:
df.tail()

,Item,Average_Demand,StdDev_Demand,Lead_Time,Service_Level,Z_value,Safety_Stock
45,46,58.64,20.22,3,0.95,1.65,58.0
46,47,22.00,8.42,3,0.95,1.65,24.0
47,48,51.35,17.88,3,0.95,1.65,51.0
48,49,29.34,10.87,3,0.95,1.65,31.0
49,50,65.88,22.42,3,0.95,1.65,64.0